.list {
  float: left;
  width: 300px;
  background-color: DeepSkyBlue;
  padding: 10px;
}

.list .list__add-card__prompt {
  padding: 10px 0;
  cursor: pointer;
}

.list .list__add-card__prompt:hover {
  background-color: CornflowerBlue;
  text-decoration: underline;
}