.text-area-form form:after {
  display: block;
  content: '';
  clear: both;
}

.text-area-form .prompt {
  font-size: 24px;
  font-family: sans-serif;
}

.text-area-form button {
  padding: 10px;
  background-color: #FFF;
  border: 2px solid #000;
  padding: 0;
  float: left;
  cursor: pointer;
}

.text-area-form:first-child button {
  margin-right: 10px;
}

.text-area-form textarea {
  width: 90%;
  min-height: 50px;
  margin-right: 25px;
  border: 2px solid #000;
  display: block;
  float: left;
  font-size: 24px;
  padding: 5%;
  outline: none;
  margin-bottom: 10px;
}

.text-area-form {
  margin-bottom: 25px;
}